@charset "uft-8";
@import url('base.css');
html,body {
    font-family: "\5FAE\8F6F\96C5\9ED1";
}
.clearfix() {
    //清浮动
    *zoom: 1;
    &:after {
        display: block;
        overflow: hidden;
        clear: both;
        height: 0;
        visibility: hidden;
        content: ".";
    }
}
@fc42: #424242;
@fc75: #757575;

// 竖线
.vertical-line{
    border-right: 1px solid #757575;
}
iframe{
    display:block;
    width:100%;
    border: none;
}

// 主营产品列表公用样式
.product-list{
    .clearfix();
    .product-item{
        display:block;
        float: left;
        height:200px;
        overflow:hidden;
        border: 1px solid #fbfbfb;
        margin-bottom:30px;
        &:nth-of-type(2n+2){
            margin-left:30px;
        }
        // 产品图片
        .item-left{
            float: left;
            line-height:200px;
            text-align: center;
            img{
                max-width:100%;
                max-height:200px;
                vertical-align:middle;
            }
        }
        // 产品性能
        .item-right{
            overflow:hidden;
            padding : 0 0  0 24px;
            h6{
                font-size:16px;
                line-height:32px;
                padding:10px 0 0 ;
                color:#424242;
                span{
                    display:inline-block;
                    line-height:1em;
                    padding: 0 0 0 3px;
                    &.vertical-line{
                        padding: 0 8px 0 0;
                    }
                }
            }
            p{
                line-height:24px;
                padding: 0 0 0 12px;
                background: url(../img/home/point2.png) left 2px center no-repeat;
                color:#757575;
            }
        }
    }
}

// 菜单公用样式
.menu{
    line-height:40px;
    border-top: 1px solid #eee;
    color:#757575;
    text-align: center;
    .first{
        border-bottom:1px solid #eee;
        a.first-option,a.second-option{
            display:block;
            &.active{
                background:#fbfbfb url(../img/common/menubg.png) right center no-repeat;
            }
        }
        .first-option{
            cursor:pointer;
        }
        .second{
            // display:none;
            height:0;
            transition:height 0.15s;
            overflow:hidden;

            background: #fbfbfb;
            color:#757575;
        }
        &.active{
            background: #fbfbfb;
            color:#42a5f5;
            .second{
                height:auto;
            }
        }
    }
}

//换页共用样式
.page{
    margin: 0 17px 0 0;
    .clearfix();
    .page-wrap{
        float: right;
        a{
            float: left;
            width: 30px;
            height: 30px;
            line-height:30px;
            background: #fbfbfb;
            color:#bdbdbd;
            text-align: center;
            margin: 0 0 0 5px;
            &.active{
                background: #42a5f5;
                color:#fff;
            }
        }
        .next{
            width:auto;
            padding: 0 8px;
        }
    }
}


// 导航
.nav {
    width:1366px;
    line-height: 60px;
    margin:0 auto;
    font-size: 16px;
    background: #fff;
    .clearfix();
    // logo
    .nav-img {
        float: left;
        img {
            vertical-align: middle;
        }
    }
    // 导航内容
    .nav-list {
        float: right;
        a {
            float: left;
            width: 100px;
            color: @fc42;
            text-align: center;
            &.active {
                background: #42A5F5;
                color: #fff;
            }
        }
    }
}

.carousel{
    background: #fbfbfb;
    .carousel-wrap{
        width:1366px;
        margin:0 auto;
        img{
            max-width:100%;
        }
    }
}

.main{
    width:1366px;
    margin:0 auto;
    .clearfix();
    .main-left{
        float: left;
        width:180px;
        margin-right:30px;
    }
    .main-right{
        overflow:hidden;
    }
}

// 底部
.footer {
    background: #fbfbfb;
    .footer-wrap{
        width:1366px;
        line-height: 50px;
        margin: 0 auto;
        font-size: 14px;
        color: @fc75;
        .clearfix();
        // 底部版权备案
        .footer-right{
            float: left;
            span{
                display:inline-block;
                line-height:1em;
                padding: 0 10px 0 5px;
            }
        }
        // 底部链接
        .footer-link{
            float: right;
            a{
                display:inline-block;
                line-height:1em;
                padding: 0 10px 0 7px;
            }
        }
    }
}

.narrow(){//窄 ie8
    .wrap{
        margin:0 auto;
        .nav{
            width:1366-17-82-82px;
            padding-left: 82px;
            padding-right: 82px;
            margin: 0 auto;
        }
        .carousel{
            .carousel-wrap{
                width:1366-17px;
            }
        }
        .main{
            width:1366-17-82-82px;
            padding-left: 82px;
            padding-right: 82px;
            margin: 0 auto;
        }
        .footer{
            .footer-wrap{
                width:1366-17-82-82px;
                padding-left: 82px;
                padding-right: 82px;
                margin: 0 auto;
            }
        }
    }
}
//1383以上宽度 内容宽度为1366 17px是滚动条
// 1366

// 1383以下的,由于是给1366屏幕使用,所以内容宽度为1366-17(滚动条)-82*2(padding,为了与不贴紧屏幕)
// 1185
@media screen and (max-width: 1383px) {
    .narrow()
}
.ie8{
    .narrow();
}