@import url('base.css');
@charset "uft-8";
.vertical-line {
  border-right: 1px solid #757575;
}
.wrap {
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.nav {
  width: 1366px;
  line-height: 60px;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
  *zoom: 1;
}
.nav:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}
.nav .nav-img {
  float: left;
}
.nav .nav-img img {
  vertical-align: middle;
}
.nav .nav-list {
  float: right;
}
.nav .nav-list a {
  float: left;
  width: 100px;
  color: #424242;
  text-align: center;
}
.nav .nav-list a.active {
  background: #42A5F5;
  color: #fff;
}
.main {
  width: 1366px;
  margin: 0 auto;
}
.footer {
  width: 1366px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 14px;
  color: #757575;
  *zoom: 1;
}
.footer:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}
.footer .footer-right {
  float: left;
}
.footer .footer-right span {
  display: inline-block;
  line-height: 1em;
  padding: 0 10px 0 5px;
}
.footer .footer-link {
  float: right;
}
.footer .footer-link a {
  display: inline-block;
  line-height: 1em;
  padding: 0 10px 0 7px;
}
@media screen and (max-width: 1383px) {
  .wrap {
    width: 1349px;
    margin: 0 auto;
  }
  .wrap .nav {
    width: 1185px;
    padding: 0 82px;
    margin: 0 auto;
  }
  .wrap .main {
    width: 1185px;
    padding: 0 82px;
    margin: 0 auto;
  }
  .wrap .footer {
    width: 1185px;
    padding: 0 82px;
    margin: 0 auto;
  }
}
.ie8 .wrap {
  width: 1349px;
  margin: 0 auto;
}
.ie8 .wrap .nav {
  width: 1185px;
  padding: 0 82px;
  margin: 0 auto;
}
.ie8 .wrap .main {
  width: 1185px;
  padding: 0 82px;
  margin: 0 auto;
}
.ie8 .wrap .footer {
  width: 1185px;
  padding: 0 82px;
  margin: 0 auto;
}
