@charset "utf-8";
.clearfix() {
    //清浮动
    *zoom: 1;
    &:after {
        display: block;
        overflow: hidden;
        clear: both;
        height: 0;
        visibility: hidden;
        content: ".";
    }
}

h5 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #757575;
}



.wrap {
    // 轮播
    .carousel {
        background: #fbfbfb;
        // 轮播插件
        .swiper-container {
            position: relative;
            height: 340px;
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
            .pagination {
                position: absolute;
                z-index: 20;
                bottom: 15px;
                width: 100%;
                text-align: center;
                .swiper-pagination-switch {
                    display: inline-block;
                    width: 20px;
                    height: 4px;
                    margin: 0 10px;
                    background: #fff;
                    cursor: pointer;
                    transition: width 0.3s, background 0.3s;
                    &.swiper-active-switch {
                        width: 40px;
                        background: #42A5F5;
                    }
                }
            }
        }
    }
    // 主要
    .main {
        // 业务覆盖
        .main-business {
            h5{
                margin: 28px 0 22px;
            }
            p {
                .clearfix();
                a {
                    float: left;
                    margin: 0 46.5px 0 0;
                    &.no-margin {
                        margin: 0;
                    }
                    &:last-of-type{
                        margin:0;
                    }
                }
            }
        }
        // 主营产品
        .main-product{
            h5{
                margin: 4px 0 28px;
            }
            .product-list {
                .product-item {
                    width: 666px;
                    .item-left {
                        width: 285px;
                    }
                }
            }
        }
    }
    // 底部
    .footer {
        .footer-wrap{
            padding: 20px 0;
            .footer-news{
                .footer-news-top{
                    position:relative;
                    h5{
                        margin: 0 0 9px;
                    }
                    a{
                        position:absolute;
                        bottom:-5px;
                        right:8px;
                    }
                }
                .footer-news-list{
                    line-height:35px;
                    padding: 0 0 12px;
                    border-bottom: 2px solid #eee;
                    margin: 0 0 12px;
                    font-size:14px;
                    .clearfix();
                    .footer-news-item{
                        float: left;
                        width:668px;
                        background: url(../img/home/point.png) center repeat-x;
                        &:nth-of-type(2n+2){
                            margin: 0 0 0 30px;
                        }
                        .news-title{
                            float: left;
                            padding:0 8px 0 0;
                            background: #fbfbfb;
                        }
                        .news-date{
                            float: right;
                            padding:0 0 0 8px;
                            background: #fbfbfb;
                        }
                    }
                }
            }
            .footer-link,.footer-right{
                line-height: 30px;
                float: none;
                margin: 0;
                text-align: center;
            }
        }
    }
}


























.narrow() {
    //窄 ie8
    .wrap {
        // 导航
        .nav {}
        // 轮播
        .carousel {
            .swiper-container {
                width: 1349px;
            }
        }
        // 主要
        .main {
            .main-business {
                p {
                    a {
                        margin: 0 1px 0 0;
                    }
                }
            }
            .main-product{
               .product-list{
                    .product-item{
                        width:575px;
                    }
               }
            }
        }
        // 底部
        .footer {
            .footer-wrap{
                .footer-news{
                    .footer-news-list{
                        .footer-news-item{
                            width:577px;
                        }
                    }
                }
            }
        }
    }
}


//1383以上宽度 内容宽度为1366 17px是滚动条
// 1366

// 1383以下的,由于是给1366屏幕使用,所以内容宽度为1366-17(滚动条)-82*2(padding,为了与不贴紧屏幕)
// 1185
@media screen and (max-width: 1383px) {
    .narrow()
}

.ie8 {
    .narrow();
    .wrap .main .main-product{
        .product-list{
            .product-item{
                margin:7px;
            }
       }
    }
    .wrap{
        .footer {
            .footer-wrap{
                .footer-news{
                    .footer-news-list{
                        .footer-news-item{
                            margin:7px;
                        }
                    }
                }
            }
        }
    }
}
