@charset "utf-8";
h5 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #757575;
}
.wrap .carousel {
  background: #fbfbfb;
}
.wrap .carousel .swiper-container {
  position: relative;
  height: 340px;
}
.wrap .carousel .swiper-container .swiper-slide img {
  width: 100%;
}
.wrap .carousel .swiper-container .pagination {
  position: absolute;
  z-index: 20;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.wrap .carousel .swiper-container .pagination .swiper-pagination-switch {
  display: inline-block;
  width: 20px;
  height: 4px;
  margin: 0 10px;
  background: #fff;
  cursor: pointer;
  transition: width 0.3s, background 0.3s;
}
.wrap .carousel .swiper-container .pagination .swiper-pagination-switch.swiper-active-switch {
  width: 40px;
  background: #42A5F5;
}
.wrap .main .main-business h5 {
  margin: 28px 0 22px;
}
.wrap .main .main-business p {
  *zoom: 1;
}
.wrap .main .main-business p:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}
.wrap .main .main-business p a {
  float: left;
  margin: 0 46.5px 0 0;
}
.wrap .main .main-business p a.no-margin {
  margin: 0;
}
.wrap .main .main-business p a:last-of-type {
  margin: 0;
}
.wrap .main .main-product h5 {
  margin: 4px 0 28px;
}
.wrap .main .main-product .product-list .product-item {
  width: 666px;
}
.wrap .main .main-product .product-list .product-item .item-left {
  width: 285px;
}
.wrap .footer .footer-wrap {
  padding: 20px 0;
}
.wrap .footer .footer-wrap .footer-news .footer-news-top {
  position: relative;
}
.wrap .footer .footer-wrap .footer-news .footer-news-top h5 {
  margin: 0 0 9px;
}
.wrap .footer .footer-wrap .footer-news .footer-news-top a {
  position: absolute;
  bottom: -5px;
  right: 8px;
}
.wrap .footer .footer-wrap .footer-news .footer-news-list {
  line-height: 35px;
  padding: 0 0 12px;
  border-bottom: 2px solid #eee;
  margin: 0 0 12px;
  font-size: 14px;
  *zoom: 1;
}
.wrap .footer .footer-wrap .footer-news .footer-news-list:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}
.wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item {
  float: left;
  width: 668px;
  background: url(../img/home/point.png) center repeat-x;
}
.wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item:nth-of-type(2n+2) {
  margin: 0 0 0 30px;
}
.wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item .news-title {
  float: left;
  padding: 0 8px 0 0;
  background: #fbfbfb;
}
.wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item .news-date {
  float: right;
  padding: 0 0 0 8px;
  background: #fbfbfb;
}
.wrap .footer .footer-wrap .footer-link,
.wrap .footer .footer-wrap .footer-right {
  line-height: 30px;
  float: none;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 1383px) {
  .wrap .carousel .swiper-container {
    width: 1349px;
  }
  .wrap .main .main-business p a {
    margin: 0 1px 0 0;
  }
  .wrap .main .main-product .product-list .product-item {
    width: 575px;
  }
  .wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item {
    width: 577px;
  }
}
.ie8 .wrap .carousel .swiper-container {
  width: 1349px;
}
.ie8 .wrap .main .main-business p a {
  margin: 0 1px 0 0;
}
.ie8 .wrap .main .main-product .product-list .product-item {
  width: 575px;
}
.ie8 .wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item {
  width: 577px;
}
.ie8 .wrap .main .main-product .product-list .product-item {
  margin: 7px;
}
.ie8 .wrap .footer .footer-wrap .footer-news .footer-news-list .footer-news-item {
  margin: 7px;
}
