@charset "utf-8";
.clearfix() {
    //清浮动
    *zoom: 1;
    &:after {
        display: block;
        overflow: hidden;
        clear: both;
        height: 0;
        visibility: hidden;
        content: ".";
    }
}
.wrap{
    // 主要
    .main{
        padding:30px 0;
    }
}


/* ---------------iframe------------------ */

// 产品列表
.prodlist {
    .product-item {
        width: 561px;
        .item-left {
            width: 225px;
        }
    }
}

// 产品详细
.proddetail{
    .detail{
        .clearfix();
        .img{
            float: left;
            width:448px;
            line-height:398px;
            border:1px solid #fbfbfb;
            margin:0 30px 0 0;
            text-align: center;
            img{
                max-width:100%;
                vertical-align: middle;
            }
        }
        .content{
            overflow: hidden;
            border-top:1px solid #eee;
            li{
                line-height:30px;
                border-bottom: 1px solid #eee;
                color:#757575;
                font-size:14px;
                &:nth-of-type(2n+1){
                    background: #fbfbfb;
                }
                .clearfix();
                .content-l{
                    float: left;
                    width:110px;
                    text-align: center;
                }
                .content-r{
                    overflow:hidden;
                    display:block;
                    padding:0 0 0 20px;
                }
            }
        }
    }
}

// 解决方案
.prodtxt {
    text-align: center;
    color: #757575;
    h5 {
        font-size: 18px;
        &:after {
            content: "";
            display: block;
            width: 40px;
            border-top: 1px solid #9e9e9e;
            margin: 9px auto 7px;
        }
    }
    p {
        line-height: 24px;
        padding: 0 0 35px;
        font-size: 15px;
    }
    p.tl {
        text-align: left;
    }
}

.framenarrow() {
    .prodlist {
        .product-item {
            width: 470px;
            .item-left {
                width: 225px;
            }
        }
    }
}

//1156
//975
@media screen and (max-width: 975px) {
    .framenarrow();
}

.ie8 {
    .framenarrow();
    .prodlist {
        .product-item {
            width: 470px;
            margin:7px;
            .item-left {
                width: 225px;
            }
        }
    }
}
