@charset "utf-8";
.wrap .main {
  padding: 30px 0;
}
/* ---------------iframe------------------ */
.serviceques li p {
  line-height: 41px;
  font-size: 14px;
  color: #757575;
}
.serviceques li p.question {
  padding: 0 20px;
  background: #fbfbfb;
}
.serviceques li p.question:before {
  content: "Q : ";
}
.serviceques li p.answer {
  padding: 0 20px 0 60px;
}
.serviceques li p.answer:before {
  content: "A : ";
}
.serviceafter {
  text-align: center;
}
.serviceafter .part {
  margin: 40px 0 40px;
}
.serviceafter .part div {
  display: inline-block;
}
.serviceafter .part div p {
  text-align: left;
  color: #337fe5;
  font-size: 14px;
}
.serviceafter .part div p:before {
  content: "◆ ";
  font-family: "SimSun";
}
