.swiper-container {
    position: relative;
    width: 1268px;
    .swiper-slide {
        height: 400px;
        img {
            width: 100%;
        }
    } 
    .pagination {
        position: absolute;
        z-index: 20;
        bottom: 10px;
        width: 100%;
        text-align: center;
        .swiper-pagination-switch {
            display: inline-block;
            width: 20px;
            height: 4px;
            margin: 0 5px;
            background: #fff;
            border: 1px solid #fff;
            cursor: pointer;
            transition: width 0.3s, background 0.3s;
            &.swiper-active-switch {
                width: 40px;
                background: #42A5F5;
            }
        }
    }
}
