body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* less共用 */
.lessTop {
  padding: 1rem;
  background: #fff;
}
.lessTop .pic {
  float: left;
  width: 4.5rem;
}
.lessTop .pic img {
  max-width: 100%;
  border-radius: 8px;
}
.lessTop .profile {
  overflow: hidden;
  text-align: center;
}
.lessTop .profile p {
  float: left;
  width: 33.333333333333333333%;
  font-size: 0.9rem;
}
.lessTop .profile p span {
  display: block;
  margin: 0 0 0.1rem;
}
.lessTop .profile p i {
  display: block;
  color: #bdbdbd;
}
.lessTop .profile a {
  display: inline-block;
  width: 80%;
  padding: 0.3rem ;
  border-radius: 5px;
  margin: 0.6rem auto 0;
  background: #eaeaea;
}
a:focus,
input:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
textarea {
  resize: none;
}
input,
textarea,
select {
  outline: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
/* 底部 */
/* 底部 */
#commonFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 3rem;
  width: 100%;
  border-top: 1px solid #eaeaea;
  background: #fff;
}
#commonFooter a.footbtn {
  position: relative;
  float: left;
  width: 33.333333333333333333%;
  text-align: center;
  font-size: 0.75rem;
  color: #bdbdbd;
}
#commonFooter a.footbtn:before {
  content: "";
  display: block;
  height: 1.5rem;
  margin: 0.4rem 0 0.1rem;
  width: 100%;
}
#commonFooter a.footbtn.active {
  color: #ffa726;
}
#commonFooter a.footbtn .num {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 27%;
  width: 16px;
  height: 16px;
  padding: 1px 0 0;
  line-height: 16px;
  border-radius: 20px;
  background: #ef5350;
  color: #fff;
  overflow: hidden;
  font-size: 10px;
}
#commonFooter .footbtn1:before {
  background: url(../img/index_icon1.png) center / contain no-repeat;
}
#commonFooter .footbtn2:before {
  background: url(../img/index_icon2.png) center / contain no-repeat;
}
#commonFooter .footbtn3:before {
  background: url(../img/index_icon3.png) center / contain no-repeat;
}
#commonFooter .footbtn1.active:before {
  background: url(../img/index_icon11.png) center / contain no-repeat;
}
#commonFooter .footbtn2.active:before {
  background: url(../img/index_icon22.png) center / contain no-repeat;
}
#commonFooter .footbtn3.active:before {
  background: url(../img/index_icon33.png) center / contain no-repeat;
}
/* 头部 */
/* 头部 */
.head {
  line-height: 2.5rem;
  padding: 0 1rem;
  background: #FFA726;
  color: #fff;
}
.head h1 {
  font-size: 1rem;
}
.head h1:before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: -3px 8px 0 0;
  vertical-align: middle;
  background: center / contain no-repeat;
}
.main {
  padding: 0 1rem 0;
  color: #757575;
  font-size: 0.8rem;
  margin: 0 0 30px 0;
}
.submit {
  width: 100%;
  padding: 0.65rem;
  border: none;
  border-radius: 5px;
  margin: 15px 0 0;
  background: #ffa726;
  color: #fff;
  font-size: 0.9rem;
}
.submit:active {
  opacity: 0.8;
}
/* 找回密码*/
/* 找回密码*/
#zhaohuimima .head h1:before {
  background-image: url(../img/password01.png);
}
#zhaohuimima .main label {
  display: block;
}
#zhaohuimima .main input {
  width: 100%;
  padding: 0.65rem;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #757575;
}
#zhaohuimima .main .p-list .p-item {
  margin: 15px 0;
}
#zhaohuimima .main .p-list .p-item label .p-title {
  display: inline-block;
  margin: 3px 0;
}
#zhaohuimima .main .p-list .p-item label .p-cont-pw {
  position: relative;
}
#zhaohuimima .main .p-list .p-item label .p-cont-pw input {
  padding: 0.65rem 2.3rem 0.65rem 0.65rem;
}
#zhaohuimima .main .p-list .p-item label .p-cont-pw a {
  position: absolute;
  top: 0.53rem;
  right: 0.53rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/password02.png) center / contain no-repeat;
}
#zhaohuimima .main .p-list .p-item label .p-cont-pw a.active {
  background: url(../img/password03.png) center / contain no-repeat;
}
#zhaohuimima .main .p-list .p-item label .p-cont-apart input {
  float: left;
  width: 48%;
}
#zhaohuimima .main .p-list .p-item label .p-cont-apart .msg-id {
  float: right;
  width: 48%;
  padding: 0.65rem 0;
  border: 1px solid #66bb6a;
  border-radius: 5px;
  font-size: 0.9rem;
  background: #66bb6a;
  text-align: center;
  color: #fff;
}
#zhaohuimima .main .p-list .p-item label .p-cont-apart .pic-id {
  float: right;
  width: 48%;
  padding: 0.65rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
}
/* 登录 */
/* 登录 */
#denglu .main .logo {
  height: 6rem;
  line-height: 6rem;
  margin: 5rem auto 2rem;
  text-align: center;
}
#denglu .main .logo img {
  max-width: 60%;
  vertical-align: middle;
}
#denglu .main label {
  display: block;
}
#denglu .main input {
  width: 100%;
  padding: 0.65rem;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #757575;
}
#denglu .main .p-list .p-item {
  margin: 15px 0;
}
#denglu .main .p-list .p-item label .p-cont-pw {
  position: relative;
}
#denglu .main .p-list .p-item label .p-cont-pw input {
  padding: 0.65rem 2.3rem 0.65rem 0.65rem;
}
#denglu .main .p-list .p-item label .p-cont-pw a {
  position: absolute;
  top: 0.53rem;
  right: 0.53rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/password02.png) center / contain no-repeat;
}
#denglu .main .p-list .p-item label .p-cont-pw a.active {
  background: url(../img/password03.png) center / contain no-repeat;
}
#denglu .main .h-f {
  margin: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}
#denglu .main .h-f p {
  display: inline-block;
}
#denglu .main .h-f p a {
  color: #fff;
  padding: 0 0.8rem 0;
}
#denglu .main .h-f p a:nth-of-type(1) {
  border-right: 1px solid #e0e0e0;
}
#denglu .submit {
  margin: 0;
}
#denglu .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 2.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background: rgba(177, 177, 177, 0.1) url(../img/footBg.png);
}
#denglu .footer a {
  color: #fff;
}
/* 资料完善 */
/* 资料完善 */
#ziliaowanshan .head h1:before,
#zhuce .head h1:before {
  background-image: url(../img/register-01.png);
}
#ziliaowanshan .main label,
#zhuce .main label {
  display: block;
}
#ziliaowanshan .main input,
#zhuce .main input {
  width: 100%;
  padding: 0.65rem;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #757575;
}
#ziliaowanshan .main .p-list .p-item,
#zhuce .main .p-list .p-item {
  margin: 15px 0;
}
#ziliaowanshan .main .p-list .p-item label .p-title,
#zhuce .main .p-list .p-item label .p-title {
  display: inline-block;
  margin: 3px 0;
}
#ziliaowanshan .main .p-list .p-item label .p-cont-apart input,
#zhuce .main .p-list .p-item label .p-cont-apart input {
  float: left;
  width: 48%;
}
#ziliaowanshan .main .p-list .p-item label .p-cont-apart select,
#zhuce .main .p-list .p-item label .p-cont-apart select {
  padding: 0.65rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  -webkit-appearance: none;
  color: #757575;
  background: #fff;
}
#ziliaowanshan .main .p-list .p-item label .p-cont-apart select:nth-of-type(1),
#zhuce .main .p-list .p-item label .p-cont-apart select:nth-of-type(1) {
  float: left;
  width: 48%;
}
#ziliaowanshan .main .p-list .p-item label .p-cont-apart select:nth-of-type(2),
#zhuce .main .p-list .p-item label .p-cont-apart select:nth-of-type(2) {
  float: right;
  width: 48%;
}
#ziliaowanshan .main .p-list .p-item label .p-cont-apart .msg-id,
#zhuce .main .p-list .p-item label .p-cont-apart .msg-id {
  float: right;
  width: 48%;
  padding: 0.65rem 0;
  border: 1px solid #66bb6a;
  border-radius: 5px;
  font-size: 0.9rem;
  background: #66bb6a;
  text-align: center;
  color: #fff;
}
#ziliaowanshan .xieyi,
#zhuce .xieyi {
  margin: 1.65rem 0 1rem;
}
#ziliaowanshan .xieyi a,
#zhuce .xieyi a {
  color: #42a5f5;
}
/* 兴趣选择 */
/* 兴趣选择 */
#xingquxuanze {
  opacity: 0;
}
#xingquxuanze .head h1:before {
  background-image: url(../img/interest-01.png);
}
.filter .part p {
  position: relative;
  margin: 1rem 0 0.3rem;
}
.filter .part ul li {
  box-sizing: border-box;
  float: left;
  width: 23%;
  padding: 2.2% 0;
  border: 1px solid #ccc;
  border-radius: 100px;
  margin: 1.5% 2.6666666666666666% 1.5% 0;
  text-align: center;
  background: #fff;
}
.filter .part ul li.active {
  background: #FFA726;
  color: #fff;
  border-color: #FFA726;
}
.filter .part ul li:nth-of-type(4n) {
  margin-right: 0;
}
.filter .part.arrow {
  height: 4.4rem;
  overflow: hidden;
  transition: height linear 0.1s;
}
.filter .part.arrow i {
  position: absolute;
  top: 6%;
  right: 0;
  height: 0.8rem;
  width: 0.8rem;
  background: url(../img/aroow.png) center / contain no-repeat;
  transition: transform linear 0.1s;
}
.filter .part.arrow.active {
  height: auto;
}
.filter .part.arrow.active i {
  transform: rotate3d(0, 0, 1, 180deg);
}
.filter .part.part1 li {
  width: 48.5%;
  margin: 0 3% 0 0;
}
.filter .part.part1 li:nth-of-type(2) {
  margin: 0;
}
/* 查看资料 */
/* 查看资料 */
#chakanziliao .head h1:before {
  background-image: url(../img/user.png);
}
#chakanziliao .main {
  font-size: 0.9rem;
}
#chakanziliao .main .ziliao_img {
  width: 25%;
  margin: 1.2rem auto;
}
#chakanziliao .main .ziliao_img img {
  max-width: 100%;
  border-radius: 10px;
}
#chakanziliao .ziliao_text {
  overflow: hidden;
  padding: 0.6rem 0;
  border-bottom: 1px solid #eee;
}
#chakanziliao .ziliao_text .ziliao_text_left {
  float: left;
  width: 5.5em;
  color: #bdbdbd;
}
#chakanziliao .ziliao_text .ziliao_text_right {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #757575;
}
#chakanziliao a.ziliao_text {
  position: relative;
  display: block;
  padding-right: 1rem;
  background: url(../img/arrow.png) right center / 0.8rem no-repeat;
}
#chakanziliao .ziliao_2wm {
  margin: 1rem 0 1rem;
  text-align: center;
}
#chakanziliao .ziliao_2wm img {
  max-width: 40%;
}
#chakanziliao .ziliao_2wm .ziliao_2wm_text {
  margin: 0.5rem 0;
}
/* 市集 */
/* 市集 */
#shiji #header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  line-height: 2.2rem;
  color: #fff;
  background: #ffa726;
  font-family: "微软雅黑";
  transition: background 0.3s;
}
#shiji #header .head_left {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 4rem;
  padding: 0 0 0 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  transition: color 0.3s;
}
#shiji #header .head_left i:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.8rem;
  width: 1rem;
  height: 2.2rem;
  background: url(../img/arrow_down.png) center / 0.6rem no-repeat;
  opacity: 1;
  transition: opacity 0.3s;
}
#shiji #header .head_left i:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0.8rem;
  width: 1rem;
  height: 2.2rem;
  background: url(../img/arrow_down_orange.png) center / 0.6rem no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
}
#shiji #header .head_right {
  float: right;
  width: 4rem;
  height: 2.2rem;
  background: url(../img/shuaixin.png) right 0.5rem center / 1rem no-repeat;
}
#shiji #header .head_middle {
  overflow: hidden;
  text-align: center;
  font-size: 0.9rem;
}
#shiji #header .head_middle a {
  box-sizing: border-box;
  display: inline-block;
  width: 1.6em;
  height: 2.2rem;
  margin: 0 0.6rem 0;
}
#shiji #header .head_middle a.active {
  border-bottom: 3px solid #fff;
}
#shiji #header.infilter {
  background: #fff;
  pointer-events: none;
}
#shiji #header.infilter .head_left {
  color: #ffa726;
}
#shiji #header.infilter .head_left i:after {
  opacity: 0;
}
#shiji #header.infilter .head_left i:before {
  opacity: 1;
}
#shiji .main {
  margin: 2.7rem 0 3rem;
}
#shiji .main .action {
  overflow: hidden;
  margin: 0.5rem;
}
#shiji .main .action .shiji_search {
  display: block;
  overflow: hidden;
  line-height: 1.5rem;
  padding: 2px 0 0 0 ;
  text-align: center;
  background: #fff;
  font-size: 0.7rem;
  border-radius: 5px;
}
#shiji .main .action .shiji_search span:before {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(../img/search.png) center / contain no-repeat;
}
#shiji .main .action .nearby {
  float: right;
  line-height: 1.5rem;
  padding: 2px 10px 0 ;
  margin: 0 0 0 0.5rem;
  text-align: center;
  background: #fff;
  font-size: 0.7rem;
  border-radius: 5px;
}
#shiji .main .action .nearby:before {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(../img/near.png) center / contain no-repeat;
}
#shiji .main .sj_content {
  margin: 0 -1rem;
}
#shiji .main .sj_list {
  margin: 0.4rem 0;
  background: #fff;
}
#shiji .main .sj_list .sj_list_con {
  padding: 0.5rem;
}
#shiji .main .sj_list .sj_list_con .sj_list_img {
  float: left;
  width: 4rem;
}
#shiji .main .sj_list .sj_list_con .sj_list_img i {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 7px;
  margin: 0 0 0 0.5rem;
  background: center / cover no-repeat;
}
#shiji .main .sj_list .sj_list_con .sj_list_text {
  overflow: hidden;
  font-size: 0.9rem;
}
#shiji .main .sj_list .sj_list_con .sj_list_text .sj_list_texttitle .sj_title1 {
  float: left;
}
#shiji .main .sj_list .sj_list_con .sj_list_text .sj_list_texttitle .sj_title2 {
  float: right;
  height: 1rem;
  line-height: 1rem;
  font-size: 10px;
}
#shiji .main .sj_list .sj_list_con .sj_list_text .sj_list_textdetail .sj_detail {
  margin: 0.5rem 0;
}
#shiji .main .sj_list .sj_list_con .sj_list_text .sj_list_textdetail .sj_tag span {
  box-sizing: border-box;
  float: left;
  width: 22%;
  padding: 0.15rem 0;
  margin-right: 3%;
  border: 1px solid #ffa726;
  border-radius: 100px;
  color: #ffa726;
  text-align: center;
  font-size: 0.75rem;
}
#shiji .main .sj_more {
  display: block;
  padding: 0.5rem;
  text-align: center;
}
#shiji .filter {
  box-sizing: border-box;
  position: absolute;
  top: 2.2rem;
  left: 0;
  z-index: 199;
  padding: 0 1rem 4rem;
  width: 100%;
  background: #f5f5f5;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
#shiji .filter.infilter {
  transform: translateX(0);
}
#shiji .btn-g {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  border-top: 1px solid #eaeaea;
  background: #fff;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 0.3s;
}
#shiji .btn-g.infilter {
  transform: translateY(0);
}
#shiji .btn-g button {
  float: left;
  width: 43%;
  line-height: 2rem;
  border: 1px solid #ffa726;
  border-radius: 5px;
  margin: 0.3rem 0;
  font-size: 0.9rem;
}
#shiji .btn-g .cancel {
  margin: 0.3rem 4.666666666666666666%;
  color: #ffa726;
  background: #fff;
}
#shiji .btn-g .sure {
  color: #fff;
  background: #ffa726;
}
/* 我的 */
/* 我的 */
#wode {
  color: #757575;
}
#wode .head h1 {
  float: left;
}
#wode .head h1:before {
  display: none;
}
#wode .head p {
  float: right;
}
#wode .main {
  padding: 0;
  margin: 0 0 4rem;
}
#wode .main .top {
  padding: 1rem;
  background: #fff;
}
#wode .main .top .pic {
  float: left;
  width: 4.5rem;
}
#wode .main .top .pic img {
  max-width: 100%;
  border-radius: 8px;
}
#wode .main .top .profile {
  overflow: hidden;
  text-align: center;
}
#wode .main .top .profile p {
  float: left;
  width: 33.333333333333333333%;
  font-size: 0.9rem;
}
#wode .main .top .profile p span {
  display: block;
  margin: 0 0 0.1rem;
}
#wode .main .top .profile p i {
  display: block;
  color: #bdbdbd;
}
#wode .main .top .profile a {
  display: inline-block;
  width: 80%;
  padding: 0.3rem ;
  border-radius: 5px;
  margin: 0.6rem auto 0;
  background: #eaeaea;
}
#wode .main .list {
  padding: 0 1rem;
  margin: 0.3rem 0;
  background: #fff;
  font-size: 0.9rem;
}
#wode .main .list .item {
  position: relative;
  display: block;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eaeaea;
  margin: 0 0 0 2rem;
  clear: both;
}
#wode .main .list .item:before {
  content: "";
  position: absolute;
  left: -1.7rem;
  width: 1rem;
  height: 1rem;
  background: center / contain no-repeat;
}
#wode .main .list .item:last-of-type {
  border: none;
}
#wode .main .list .item i {
  float: right;
  color: #ffa726;
}
#wode .main .list .item1:before {
  background-image: url(../img/me01.png);
}
#wode .main .list .item2:before {
  background-image: url(../img/me02.png);
}
#wode .main .list .item3:before {
  background-image: url(../img/me03.png);
}
#wode .main .list .item4:before {
  background-image: url(../img/me04.png);
}
#wode .main .list .item5:before {
  background-image: url(../img/me05.png);
}
#wode .main .list .item6:before {
  background-image: url(../img/me06.png);
}
#wode .main .list .item7:before {
  background-image: url(../img/me07.png);
}
/* 价格变动 */
/* 价格变动 */
#jiagebiandong {
  color: #757575;
}
#jiagebiandong .head h1:before {
  background-image: url(../img/jiagebiandong01.png);
}
#jiagebiandong .main .top {
  overflow: hidden;
  text-align: center;
  margin: 0.5rem 0;
}
#jiagebiandong .main .top p {
  float: left;
  width: 25%;
  font-size: 1rem;
}
#jiagebiandong .main .top p span {
  display: block;
  color: #ffa726;
  margin: 0.5rem 0;
}
#jiagebiandong .main .top p i {
  display: block;
  color: #a6a6a6;
}
#jiagebiandong .main .chart-time {
  margin: 0.8rem 0;
  overflow: hidden;
  text-align: center;
  font-size: 0.75rem;
}
#jiagebiandong .main .chart-time a {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0.2rem 0;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background: #f5f5f5;
  font-size: 12px;
}
#jiagebiandong .main .chart-time a:last-of-type {
  border-right: 1px solid #eaeaea;
  border-radius: 0 6px 6px 0;
}
#jiagebiandong .main .chart-time a:first-of-type {
  border-left: 1px solid #eaeaea;
  border-radius: 6px 0 0  6px ;
}
#jiagebiandong .main .chart-time a.active {
  background: #fff;
}
#jiagebiandong .main .chart-type {
  font-size: 0.9rem;
  overflow: hidden;
  text-align: center;
}
#jiagebiandong .main .chart-type a {
  float: left;
  width: 33.333333333333%;
}
#jiagebiandong .main .chart-type a:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: -3px 6px 0 0;
  vertical-align: middle;
  background: url(../img/jiagebiandong03.png) center / contain no-repeat;
}
#jiagebiandong .main .chart-type a.active:before {
  background: url(../img/jiagebiandong02.png) center / contain no-repeat;
}
/* 仓库 */
/* 仓库 */
#cangku {
  color: #757575;
}
#cangku .head h1 {
  float: left;
}
#cangku .head h1:before {
  background-image: url(../img/cangku.png);
}
#cangku .head div {
  float: right;
}
#cangku .head div a {
  box-sizing: border-box;
  display: inline-block;
  max-height: 2.5rem;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}
#cangku .head div a.active {
  border-bottom: 3px solid #fff;
}
#cangku .main {
  padding: 0;
  margin: 0 0 6rem;
}
#cangku .main .cangku-item {
  display: block;
  padding: 0.7rem;
  margin: 0 0 0.3rem;
  background: #fff;
}
#cangku .main .cangku-item .item-detail {
  width: 100%;
  display: table;
}
#cangku .main .cangku-item .item-detail p {
  font-size: 0.9rem;
  display: table-row;
}
#cangku .main .cangku-item .item-detail p span {
  display: table-cell;
  padding: 0.3rem 0.1rem 0.3rem 0;
}
#cangku .main .cangku-item .item-detail p > :nth-child(1) {
  width: 16%;
}
#cangku .main .cangku-item .item-detail p > :nth-child(2) {
  width: 28%;
}
#cangku .main .cangku-item .item-detail p > :nth-child(3) {
  width: 28%;
}
#cangku .main .cangku-item .item-detail p > :nth-child(4) {
  width: 28%;
}
#cangku .main .cangku-item .item-detail p .factory {
  font-weight: 700;
}
#cangku .main .cangku-item .item-detail p .price {
  color: #ffa726;
}
#cangku .main .cangku-item .item-detail p .location {
  color: #81c784;
  font-size: 0.75rem;
}
#cangku .main .cangku-item .item-detail p .location:before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(../img/cangku02.png) center / contain no-repeat;
}
#cangku .main .cangku-item .item-detail p i {
  display: inline-block;
  padding: 0.1rem 0.2rem;
  color: #fff;
  font-size: 0.75rem;
}
#cangku .main .cangku-item .item-detail p i.leng {
  background: #4fc3f7;
}
#cangku .main .cangku-item .item-detail p i.leng:before {
  content: "冷轧";
  margin: 0 0.2rem 0 0;
}
#cangku .main .cangku-item .item-detail p i.re {
  background: #e57373;
}
#cangku .main .cangku-item .item-detail p i.re:before {
  content: "热轧";
  margin: 0 0.2rem 0 0;
}
#cangku .main .cangku-item .item-detail p i.ban:after {
  content: "板材";
}
#cangku .main .cangku-item .item-detail p i.juan {
  border-radius: 8px;
}
#cangku .main .cangku-item .item-detail p i.juan:after {
  content: "卷材";
}
#cangku .main .cangku-item .item-detail .detail-line1 span {
  border-bottom: 1px solid #eaeaea;
  padding: 0.3rem 0.1rem 0.5rem  0;
}
#cangku .main .cangku-item .item-detail .detail-line2 span {
  padding: 0.5rem 0.1rem 0.3rem  0;
}
#cangku .main .visitor {
  position: fixed;
  bottom: 3rem;
  left: 0;
  width: 100%;
  height: 2.4rem;
  background: #fff;
}
#cangku .main .visitor .front {
  float: left;
  width: 2rem;
  height: 1.8rem;
  margin: 0.3rem 0;
  background: url(../img/cangku03.png) center / contain no-repeat;
}
#cangku .main .visitor img {
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.3rem 0.1rem;
  border-radius: 8px;
}
#cangku .main .visitor .after {
  float: left;
  width: 2rem;
  height: 1.8rem;
  margin: 0.2rem 0;
  background: url(../img/arrow.png) center / 0.9rem no-repeat;
}
.cangku-item {
  display: block;
  padding: 0.7rem;
  margin: 0 0 0.3rem;
  background: #fff;
}
.cangku-item .item-detail {
  width: 100%;
  display: table;
}
.cangku-item .item-detail p {
  font-size: 0.9rem;
  display: table-row;
}
.cangku-item .item-detail p span {
  display: table-cell;
  padding: 0.3rem 0.1rem 0.3rem 0;
}
.cangku-item .item-detail p > :nth-child(1) {
  width: 16%;
}
.cangku-item .item-detail p > :nth-child(2) {
  width: 28%;
}
.cangku-item .item-detail p > :nth-child(3) {
  width: 28%;
}
.cangku-item .item-detail p > :nth-child(4) {
  width: 28%;
}
.cangku-item .item-detail p .factory {
  font-weight: 700;
}
.cangku-item .item-detail p .price {
  color: #ffa726;
}
.cangku-item .item-detail p .location {
  color: #81c784;
  font-size: 0.75rem;
}
.cangku-item .item-detail p .location:before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(../img/cangku02.png) center / contain no-repeat;
}
.cangku-item .item-detail p i {
  display: inline-block;
  padding: 0.1rem 0.2rem;
  color: #fff;
  font-size: 0.75rem;
}
.cangku-item .item-detail p i.leng {
  background: #4fc3f7;
}
.cangku-item .item-detail p i.leng:before {
  content: "冷轧";
  margin: 0 0.2rem 0 0;
}
.cangku-item .item-detail p i.re {
  background: #e57373;
}
.cangku-item .item-detail p i.re:before {
  content: "热轧";
  margin: 0 0.2rem 0 0;
}
.cangku-item .item-detail p i.ban:after {
  content: "板材";
}
.cangku-item .item-detail p i.juan {
  border-radius: 8px;
}
.cangku-item .item-detail p i.juan:after {
  content: "卷材";
}
.cangku-item .item-detail .detail-line1 span {
  border-bottom: 1px solid #eaeaea;
  padding: 0.3rem 0.1rem 0.5rem  0;
}
.cangku-item .item-detail .detail-line2 span {
  padding: 0.5rem 0.1rem 0.3rem  0;
}
/* 所有订单 */
/* 所有订单 */
#suoyoudingdan {
  color: #757575;
}
#suoyoudingdan .head h1 {
  float: left;
}
#suoyoudingdan .head h1:before {
  background-image: url(../img/cangku.png);
}
#suoyoudingdan .head a {
  float: right;
}
#suoyoudingdan .main {
  padding: 0;
  margin: 0 0 4rem;
}
#suoyoudingdan .main .order-item {
  display: block;
  padding: 0.6rem 1.8rem 0.6rem 0.6rem;
  margin: 0 0 0.3rem;
  background: #ffffff url(../img/arrow.png) right 0.4rem center / 1rem no-repeat;
}
#suoyoudingdan .main .order-item .line1 {
  padding: 0 0 0.5rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 0.9rem;
}
#suoyoudingdan .main .order-item .line1 b {
  float: left;
}
#suoyoudingdan .main .order-item .line1 span {
  float: right;
  color: #ffa726;
}
#suoyoudingdan .main .order-item .line2 {
  padding: 0.5rem 0 0 ;
  font-size: 0.75rem;
}
#suoyoudingdan .main .order-item .line2 span {
  float: left;
}
#suoyoudingdan .main .order-item .line2 span:nth-child(1) {
  width: 24%;
}
#suoyoudingdan .main .order-item .line2 span:nth-child(2) {
  width: 38%;
}
#suoyoudingdan .main .order-item .line2 span:nth-child(3) {
  width: 38%;
  text-align: right;
}
/* 编辑资料 */
/* 编辑资料 */
#bianjiziliao {
  color: #757575;
}
#bianjiziliao .head h1 {
  float: left;
}
#bianjiziliao .head h1:before {
  background-image: url(../img/user.png);
}
#bianjiziliao .head a {
  float: right;
}
#bianjiziliao .main {
  font-size: 0.9rem;
}
#bianjiziliao .main .ziliao_img {
  width: 25%;
  margin: 1.2rem auto;
}
#bianjiziliao .main .ziliao_img img {
  max-width: 100%;
  border-radius: 10px;
}
#bianjiziliao .ziliao_text {
  overflow: hidden;
  padding: 0.6rem 0;
}
#bianjiziliao .ziliao_text .ziliao_text_left {
  float: left;
  width: 5.5em;
  padding: 0.3rem 0 0;
  color: #bdbdbd;
}
#bianjiziliao .ziliao_text .ziliao_text_right {
  overflow: hidden;
}
#bianjiziliao .ziliao_text .ziliao_text_right input,
#bianjiziliao .ziliao_text .ziliao_text_right textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
#bianjiziliao .ziliao_text .ziliao_text_right select {
  float: left;
  width: 46%;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background: #fff;
}
#bianjiziliao .ziliao_text .ziliao_text_right select:nth-child(1) {
  margin: 0 8% 0 0;
}
#bianjiziliao .ziliao_2wm {
  margin: 1rem 0 1rem;
  text-align: center;
}
#bianjiziliao .ziliao_2wm img {
  max-width: 40%;
}
#bianjiziliao .ziliao_2wm .ziliao_2wm_text {
  margin: 0.5rem 0;
}
/* kk */
#guanzhu .head h1 {
  margin: 0 0 0 -0.3rem;
}
#guanzhu .head h1:before {
  width: 1.8rem;
  background-image: url(../img/guanzhu01.png);
}
#guanzhu .main {
  margin: 0 0 4rem;
}
#guanzhu .guanzhu_list {
  padding: 0.75rem 0 0 0;
  overflow: hidden;
}
#guanzhu .guanzhu_list_left {
  width: 80%;
  float: left;
}
#guanzhu .gz_list_img {
  width: 2.6rem;
  height: 2.6rem;
  background: #999;
  border-radius: 7px;
  float: left;
}
#guanzhu .gz_list_text {
  width: 10rem;
  float: left;
  margin-left: 0.65rem;
}
#guanzhu .gz_list_text h1 {
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 1.2rem;
  color: #333;
}
#guanzhu .gz_list_text p {
  font-size: 0.75em;
  padding: 0.3rem 0 0;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#guanzhu .guanzhu_list_right {
  width: 20%;
  height: 2.6rem;
  line-height: 2.6rem;
  float: right;
}
#guanzhu .gzbtn {
  box-sizing: border-box;
  display: inline-block;
  width: 3.6rem;
  height: 1.4rem;
  line-height: 1.4rem;
  border: 0;
  border-radius: 5px;
  background: #FFA726;
  color: #FFF;
  text-align: center;
  font-size: 0.6rem;
}
#guanzhu .gzbtn:before {
  content: "";
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url(../img/guanzhu_icon2.png) center / contain no-repeat;
}
#guanzhu .gzbtn2 {
  box-sizing: border-box;
  display: inline-block;
  width: 3.6rem;
  line-height: 1.4rem;
  height: 1.4rem;
  border: solid 1px #FFA726;
  border-radius: 5px;
  background: #FFF;
  color: #FFA726;
  text-align: center;
  font-size: 0.6rem;
}
#guanzhu .gzbtn2:before {
  content: "";
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url(../img/guanzhu_icon1.png) center / contain no-repeat;
}
/* 访客 */
#fangke .head h1 {
  margin: 0 0 0 -0.3rem;
}
#fangke .head h1:before {
  width: 1.8rem;
  background-image: url(../img/fangke_icon1.png);
}
#fangke .main {
  margin: 0 0 4rem;
}
#fangke .fangke_title {
  width: 100%;
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 0.65rem;
}
#fangke .fangke_list {
  width: 100%;
  height: 2.6rem;
  margin-bottom: 0.6rem;
}
#fangke .fk_list_img {
  width: 2.4rem;
  height: 2.4rem;
  background: #999;
  border-radius: 7px;
  float: left;
}
#fangke .fk_list_text {
  width: 80%;
  height: 2.6rem;
  float: right;
  border-bottom: solid 1px #EBEBEB;
}
#fangke .fk_list_text h1 {
  width: 100%;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.75rem;
  font-weight: bold;
}
#fangke .fk_list_text a {
  float: right;
  font-weight: normal;
  color: #999;
}
#fangke .fk_list_text p {
  width: 100%;
  height: 1.4rem;
  font-size: 0.65rem;
  color: #999;
}
#xinxi .main {
  margin: 0 0 4rem;
}
#xinxi .xinxi_btn {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}
#xinxi .xinxi_btn_img {
  width: 20%;
  height: 3rem;
  float: left;
}
#xinxi .xinxi_btn_img img {
  width: 2.6rem;
  height: 2.6rem;
}
#xinxi .xinxi_btn_text {
  width: 80%;
  height: 3rem;
  float: right;
  border-bottom: solid 1px #EBEBEB;
  line-height: 2.6rem;
  font-size: 0.85rem;
}
#xinxi .xinxi_btn_text span {
  display: block;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 10px;
  background: #EF5350;
  color: #FFF;
  font-size: 0.65rem;
  line-height: 0.95rem;
  float: right;
  text-align: center;
  margin: 0.5rem 0 0 0;
  font-weight: normal;
}
#xinxi .xinxi_list {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}
#xinxi .xinxi_list_img {
  width: 2.6rem;
  height: 2.6rem;
  background: #CCC;
  float: left;
  border-radius: 7px;
}
#xinxi .xinxi_list_text {
  width: 80%;
  height: 3rem;
  float: right;
  border-bottom: solid 1px #EBEBEB;
  line-height: 2.6rem;
  font-size: 0.85rem;
}
#xinxi .xinxi_text1 {
  width: 100%;
  height: 1.5rem;
  font-size: 0.85rem;
  line-height: 1.5rem;
}
#xinxi .xinxi_text1 span {
  display: block;
  float: right;
  line-height: 1.5rem;
  font-size: 0.65rem;
}
#xinxi .xinxi_text2 {
  width: 100%;
  height: 1.5rem;
  font-size: 0.65rem;
  line-height: 1.2rem;
  color: #999;
}
#xinxi .xinxi_text2 span {
  display: block;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 10px;
  background: #EF5350;
  color: #FFF;
  font-size: 0.65rem;
  line-height: 0.95rem;
  float: right;
  text-align: center;
  margin: 0.1rem 0 0 0;
  font-weight: normal;
}
#gerenxiangqing {
  color: #757575;
}
#gerenxiangqing .head {
  background: #fff;
  color: #757575;
}
#gerenxiangqing .head h1 {
  float: left;
  font-weight: 700;
}
#gerenxiangqing .head h1:before {
  display: none;
}
#gerenxiangqing .head p {
  float: right;
  color: #bbb;
}
#gerenxiangqing .head p span {
  color: #757575;
}
#gerenxiangqing .main {
  margin: 0.1rem 0 3rem;
  padding: 0;
}
#gerenxiangqing .main .top {
  padding: 1rem;
  background: #fff;
}
#gerenxiangqing .main .top .pic {
  float: left;
  width: 4.5rem;
}
#gerenxiangqing .main .top .pic img {
  max-width: 100%;
  border-radius: 8px;
}
#gerenxiangqing .main .top .profile {
  overflow: hidden;
  text-align: center;
}
#gerenxiangqing .main .top .profile p {
  float: left;
  width: 33.333333333333333333%;
  font-size: 0.9rem;
}
#gerenxiangqing .main .top .profile p span {
  display: block;
  margin: 0 0 0.1rem;
}
#gerenxiangqing .main .top .profile p i {
  display: block;
  color: #bdbdbd;
}
#gerenxiangqing .main .top .profile a {
  display: inline-block;
  width: 80%;
  padding: 0.3rem ;
  border-radius: 5px;
  margin: 0.6rem auto 0;
  background: #eaeaea;
}
#gerenxiangqing .main .cangku-item {
  margin: 0.3rem 0;
}
#gerenxiangqing .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
#gerenxiangqing .footer a {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0.1rem 0;
  border-right: 1px solid #eaeaea;
  margin: 0.5rem 0;
  text-align: center;
  color: #bdbdbd;
}
#gerenxiangqing .footer a:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: -2px 0.5rem 0 0;
  vertical-align: middle;
  background: #f00;
}
#gerenxiangqing .footer a:last-of-type {
  border-right: none;
}
#gerenxiangqing .footer .interest:before {
  background: url(../img/zhanghao_icon1.png) center / contain no-repeat;
}
#gerenxiangqing .footer .interest:after {
  content: "关注";
}
#gerenxiangqing .footer .interest.active {
  color: #ffa726;
}
#gerenxiangqing .footer .interest.active:before {
  background: url(../img/zhanghao_icon11.png) center / contain no-repeat;
}
#gerenxiangqing .footer .interest.active:after {
  content: "已关注";
}
#gerenxiangqing .footer .like:before {
  background: url(../img/zhanghao_icon2.png) center / contain no-repeat;
}
#gerenxiangqing .footer .like:after {
  content: "  赞";
}
#gerenxiangqing .footer .like.active {
  color: #ffa726;
}
#gerenxiangqing .footer .like.active:before {
  background: url(../img/zhanghao_icon22.png) center / contain no-repeat;
}
#gerenxiangqing .footer .like.active:after {
  content: " 已赞";
}
#gerenxiangqing .footer .share:before {
  background: url(../img/zhanghao_icon3.png) center / contain no-repeat;
}
#gerenxiangqing .footer .contact:before {
  background: url(../img/zhanghao_icon4.png) center / contain no-repeat;
}
/* 附近的人 */
#nearby {
  height: 100%;
}
#nearby .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
#nearby .top span {
  float: left;
  line-height: 40px;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #ffa726;
}
#nearby .top span:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 10px 0 10px;
  vertical-align: middle;
  background: url(../img/person_pin.png) center / 22px no-repeat;
}
#nearby .top a {
  float: right;
  height: 40px;
  width: 40px;
  background: center / 26px no-repeat;
}
#nearby .main {
  box-sizing: border-box;
  height: 100%;
  padding: 41px 0 0;
  margin: 0;
}
#nearby .map {
  height: 100%;
}
#nearby .map #map {
  height: 100%;
}
#nearby .list {
  display: none;
}
#nearby .list .near-list .near-item {
  display: block;
}
#nearby .list .near-list .near-item img {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 12px 15px;
}
#nearby .list .near-list .near-item > div {
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
}
#nearby .list .near-list .near-item > div p {
  line-height: 1.5em;
  font-family: "微软雅黑";
}
#nearby .list .near-list .near-item > div p:nth-of-type(1) {
  padding: 6px 0 1px;
  overflow: hidden;
}
#nearby .list .near-list .near-item > div p:nth-of-type(1) span:nth-of-type(1) {
  float: right;
  padding: 0 15px;
  color: #9E9E9E;
  font-size: 12px;
}
#nearby .list .near-list .near-item > div p:nth-of-type(1) span:nth-of-type(2) {
  display: block;
  overflow: hidden;
  color: #424242;
}
#nearby .list .near-list .near-item > div p:nth-of-type(2) {
  padding: 1px 0 6px;
  color: #757575;
}
