/* 登陆页 */
#login .top {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  transition: top 0.3s;
}
#login .top h1 {
  color: #fff;
  font: 62px/1em "微软雅黑";
  text-align: center;
}
#login .main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  margin: -200px 0 0 -150px;
  color: #fff;
  font-family: "微软雅黑";
  transition: all 0.3s;
}
#login .main .btn-group {
  position: relative;
  margin: 0 0 16px;
}
#login .main .btn-group a {
  float: left;
  width: 150px;
  line-height: 20px;
  padding: 0 0 13px;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  color: inherit;
  text-align: center;
  transition: font-size 0.3s;
}
#login .main .btn-group a.active {
  font-size: 18px;
}
#login .main .btn-group .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  border-bottom: 2px solid #ffa726;
  transition: left 0.3s;
}
#login .main .btn-group .line.scan {
  left: 150px;
}
#login .main .content {
  width: 300px;
  overflow: hidden;
}
#login .main .content .tab-box {
  position: relative;
  left: 0px;
  top: 0;
  width: 600px;
  transition: left 0.3s;
}
#login .main .content .tab-box.scan {
  left: -300px;
}
#login .main .content .tab-box .password-login {
  width: 300px;
  float: left;
}
#login .main .content .tab-box .password-login input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  margin: 7px 0;
  color: #757575;
  font-family: inherit;
  font-size: 16px;
}
#login .main .content .tab-box .password-login input:focus {
  outline: none;
}
#login .main .content .tab-box .password-login .wrong {
  margin: 6px 0 7px;
}
#login .main .content .tab-box .password-login .wrong .tips {
  margin: 0 0 13px;
  font-size: 13px;
  text-align: center;
  color: #EF5350;
}
#login .main .content .tab-box .password-login .wrong input {
  float: left;
  width: 118px;
  line-height: 35px;
  height: 35px;
  padding: 0 15px;
  margin: 0 15px 0 0;
  border-radius: 5px;
}
#login .main .content .tab-box .password-login .wrong img {
  float: left;
  width: 117px;
  height: 35px;
  margin: 0 15px 0 0;
  border-radius: 5px;
}
#login .main .content .tab-box .password-login .wrong a {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #bdbdbd url(../img/refresh.png) center no-repeat;
}
#login .main .content .tab-box .password-login button {
  width: 100%;
  line-height: 42px;
  border: none;
  border-radius: 8px;
  margin: 7px 0;
  font-size: 16px;
  font-family: "微软雅黑";
  background: #ffa726;
  color: #fff;
}
#login .main .content .tab-box .password-login .register {
  margin: 13px 0;
  text-align: center;
}
#login .main .content .tab-box .password-login .register a {
  font-size: 15px;
}
#login .main .content .tab-box .scan-login {
  float: left;
  width: 300px;
  text-align: center;
}
#login .main .content .tab-box .scan-login p {
  margin: 15px 0;
  font-size: 16px;
}
#login .footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: #f9f9f9;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-height: 700px) {
  #login .top {
    top: 10px;
  }
  #login .main {
    height: 310px;
    margin: -155px -150px;
  }
}
/* 注册 */
#register .top {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  transition: top 0.3s;
}
#register .top h1 {
  color: #fff;
  font: 62px/1em "微软雅黑";
  text-align: center;
}
#register .main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 500px;
  margin: -250px -150px;
  color: #fff;
  font-family: "微软雅黑";
  transition: all 0.3s;
}
#register .main .btn-group {
  position: relative;
  margin: 0 0 16px;
}
#register .main .btn-group a {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  padding: 0 0 13px;
  border-bottom: 2px solid #ffa726;
  font-size: 20px;
  color: inherit;
  text-align: center;
  transition: font-size 0.3s;
}
#register .main .content {
  width: 300px;
}
#register .main .content label {
  position: relative;
  display: block;
  margin: 12px 0;
}
#register .main .content label span {
  font-size: 16px;
}
#register .main .content label input {
  box-sizing: border-box;
  width: 100%;
  line-height: 42px;
  height: 42px;
  padding: 0 15px;
  border: none;
  border-radius: 8px;
  margin: 8px 0 0;
  color: #757575;
  font-family: inherit;
  font-size: 16px;
}
#register .main .content label input:focus {
  outline: none;
}
#register .main .content label input.wrong {
  color: #f00;
  box-shadow: 0px 0px 2px #f00;
}
#register .main .content label a {
  display: none;
  position: absolute;
  bottom: 9px;
  right: 9px;
  width: 24px;
  height: 24px;
  background: url(../img/wrong.png);
}
#register .main .content label a.active {
  display: block;
}
#register .main .content .city {
  margin: 12px 0;
}
#register .main .content .city p {
  margin: 0 0 8px;
  font-size: 16px;
}
#register .main .content .city select {
  box-sizing: border-box;
  float: left;
  height: 42px;
  height: auto \9;
  line-height: 42px;
  width: 48%;
  padding: 0 8px 0 15px;
  padding: 10px 8px 10px 15px \9;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: inherit;
  color: #979797;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari 和 Chrome */
}
#register .main .content .city select::-ms-expand {
  /* ie10以及以上 */
  display: none;
}
#register .main .content .city select.select1 {
  margin: 0 4% 0 0;
}
#register .main .content button {
  width: 100%;
  line-height: 42px;
  border: none;
  border-radius: 8px;
  margin: 7px 0;
  font-size: 16px;
  font-family: "微软雅黑";
  background: #ffa726;
  color: #fff;
}
#register .footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: #f9f9f9;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-height: 700px) {
  #register .top {
    top: 10px;
  }
  #register .main {
    margin: -225px 0 0 -150px;
  }
}
/* 注册成功 */
#success .top {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  transition: top 0.3s;
}
#success .top h1 {
  color: #fff;
  font: 62px/1em "微软雅黑";
  text-align: center;
}
#success .main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 131px;
  margin: -100px 0 0 -120px;
  text-align: center;
}
#success .main p {
  color: #fff;
  font-size: 24px;
  font-family: "微软雅黑";
}
#success .footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: #f9f9f9;
  text-align: center;
  font-size: 12px;
}
/* 主页 */
#index {
  padding: 15px 0 0;
  font-family: "微软雅黑";
}
#index .top {
  width: 1200px;
  margin: 0 auto;
}
#index .top .left {
  float: left;
  width: 150px;
  line-height: 1em;
  min-height: 150px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  text-align: center;
  background: #fff;
}
#index .top .left img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0 0;
}
#index .top .left strong {
  display: block;
  line-height: 1em;
  margin: 9px 0 0;
  font-size: 14px;
  font-weight: 300;
  color: #616161;
}
#index .top .left span {
  display: block;
  margin: 12px 0 0;
  color: #ffa726;
}
#index .top .left a {
  display: block;
  margin: 12px 0 0;
  color: #bdbdbd;
}
#index .top .right {
  float: right;
  width: 978px;
  height: 120px;
  padding: 30px 16px 0 41px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: #fff;
}
#index .top .right .right-item {
  float: left;
  position: relative;
  width: 138px;
  margin: 0 25px 30px 0;
}
#index .top .right .right-item span {
  float: left;
  line-height: 30px;
  margin: 0 10px 0 0;
  color: #9e9e9e;
  font-size: 14px;
}
#index .top .right .right-item .select {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  font-size: 14px;
  color: #757575;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: height 0.18s;
  background: #fff;
}
#index .top .right .right-item .select .option-default {
  color: #9e9e9e;
}
#index .top .right .right-item .select .option {
  color: #757575;
}
#index .top .right .right-item .select .option:before {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #e0e0e0;
}
#index .top .right .right-item .select .option:hover {
  background: #f9f9f9;
}
#index .top .right .right-item .select .option:active {
  background: #e0e0e0;
}
#index .top .right .right-item .select.selected {
  border-color: #ffa726;
}
#index .top .right .right-item .select.selected .option-default {
  color: #ffa726;
}
#index .top .right .right-item .select.active {
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #e0e0e0;
}
#index .top .right .right-item .select.active .option-default {
  color: #e0e0e0;
}
#index .top .right .right-item input {
  width: 76px;
  line-height: 30px;
  padding: 0 50px 0 12px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
#index .top .right .right-item input:focus {
  outline: none;
  border-bottom: 1px solid #ffa726;
  color: #ffa726;
}
#index .top .right .right-item input.focus {
  border-bottom: 1px solid #ffa726;
  color: #ffa726;
}
#index .top .right .right-item i {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 14px;
  color: #9e9e9e;
}
#index .top .right .right-item i.focus {
  color: #ffa726;
}
#index .top .right .right-item a {
  box-sizing: border-box;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background: #e0e0e0;
  color: #fff;
}
#index .top .right .right-item a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 5px 0 -5px;
  vertical-align: middle;
  background: url(../img/no.png) center no-repeat;
}
#index .top .right .right-item a.canSubmit {
  cursor: pointer;
  background: #ffa726;
}
#index .top .right .right-item a.canSubmit:before {
  background: url(../img/done.png) center no-repeat;
}
#index .main {
  width: 1200px;
  margin: 15px auto 0;
  font-size: 14px;
}
#index .main .title {
  line-height: 35px;
  padding: 0 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #ffa726;
  color: #fff;
}
#index .main .title span {
  float: left;
  width: 9.090909090%;
  text-align: center;
}
#index .main .content .content-item {
  line-height: 44px;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  background: #fff;
  transition: height 0.5s;
  overflow: hidden;
}
#index .main .content .content-item:after {
  content: "";
  display: block;
  width: 98%;
  margin: 0 auto;
  border-bottom: 1px solid #f3f3f3;
  height: 0;
  clear: both;
}
#index .main .content .content-item:hover {
  background: #f3f3f3;
  transition: background 0.3s;
}
#index .main .content .content-item span {
  float: left;
  width: 9.090909090%;
  text-align: center;
  color: #616161;
}
#index .main .content .content-item .span11 a {
  color: #ef5350;
}
#index .main .content .last-item {
  line-height: 44px;
  height: 44px;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 0 30px;
  background: #fff;
}
#index .main .content .waiting {
  line-height: 44px;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  background: #fff;
  text-align: center;
  color: #bdbdbd;
}
#index .main .content .content-item .span6,
#index .main .title .span6,
#index .main .content .content-item .span7,
#index .main .title .span7 {
  width: 7.090909090%;
}
#index .main .content .content-item .span9,
#index .main .title .span9 {
  width: 13.090909090%;
}
