/* 登陆页 */
#login {
  position: relative;
  height: 100%;
  min-width: 1024px;
  width: 100%;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 12px;
  color: #fff;
}
#login .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -150px;
}
#login .middle .m-img {
  position: absolute;
  top: -86px;
  left: 0;
  width: 100%;
}
#login .middle p {
  margin: 15px 0;
  font-size: 16px;
}
#login .middle p ::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}
#login .middle p ::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}
#login .middle p :-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}
#login .middle p input {
  box-sizing: border-box;
  height: 45px;
  width: 300px;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.35);
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 16px;
}
#login .middle p input:focus {
  outline: none;
}
#login .middle p button {
  box-sizing: border-box;
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background: #42a5f5;
  color: #fff;
  font-size: 16px;
}
#login .middle .m-pw {
  position: relative;
}
#login .middle .m-pw input {
  padding: 0 55px 0 15px;
}
#login .middle .m-pw i {
  position: absolute;
  top: 11px;
  right: 15px;
  width: 22px;
  height: 22px;
  background: url(../img/visibility_off.png) center no-repeat;
  cursor: pointer;
}
#login .middle .m-pw i.active {
  background: url(../img/visibility.png) center no-repeat;
}
#login .middle .m-a {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}
#login .middle .m-a a {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #fff;
}
#login .footer {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
}
#login .footer .footer-line1 {
  width: 320px;
  margin: 0 auto 15px;
}
#login .footer .footer-line1 a {
  box-sizing: border-box;
  float: left;
  width: 20%;
  border-left: 1px solid #fff;
}
#login .no-border {
  border: none !important;
}
/* 主页 */
#index {
  padding: 15px 0;
  font-family: "微软雅黑";
}
#index .top {
  width: 1200px;
  margin: 0 auto;
}
#index .top .left {
  float: left;
  width: 150px;
  line-height: 1em;
  min-height: 150px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
}
#index .top .left img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0 0;
}
#index .top .left strong {
  display: block;
  line-height: 1em;
  margin: 9px 0 0;
  font-size: 14px;
  font-weight: 300;
  color: #616161;
}
#index .top .left span {
  display: block;
  margin: 12px 0 0;
  color: #ffa726;
}
#index .top .left a {
  display: block;
  margin: 12px 0 0;
  color: #bdbdbd;
}
#index .top .right {
  float: right;
  width: 978px;
  height: 120px;
  padding: 30px 16px 0 41px;
  border-radius: 5px;
  background: #fff;
}
#index .top .right .right-item {
  float: left;
  position: relative;
  width: 138px;
  margin: 0 25px 30px 0;
}
#index .top .right .right-item span {
  float: left;
  line-height: 30px;
  margin: 0 10px 0 0;
  color: #9e9e9e;
  font-size: 14px;
}
#index .top .right .right-item .select {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  font-size: 14px;
  color: #757575;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: height 0.18s;
  background: #fff;
}
#index .top .right .right-item .select .option-default {
  color: #9e9e9e;
}
#index .top .right .right-item .select .option {
  color: #757575;
}
#index .top .right .right-item .select .option:before {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #e0e0e0;
}
#index .top .right .right-item .select .option:hover {
  background: #f9f9f9;
}
#index .top .right .right-item .select .option:active {
  background: #e0e0e0;
}
#index .top .right .right-item .select.selected {
  border-color: #ffa726;
}
#index .top .right .right-item .select.selected .option-default {
  color: #ffa726;
}
#index .top .right .right-item .select.active {
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #e0e0e0;
}
#index .top .right .right-item .select.active .option-default {
  color: #e0e0e0;
}
#index .top .right .right-item input {
  width: 76px;
  line-height: 30px;
  padding: 0 50px 0 12px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
#index .top .right .right-item input:focus {
  outline: none;
  border-bottom: 1px solid #ffa726;
  color: #ffa726;
}
#index .top .right .right-item input.focus {
  border-bottom: 1px solid #ffa726;
  color: #ffa726;
}
#index .top .right .right-item i {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 14px;
  color: #9e9e9e;
}
#index .top .right .right-item i.focus {
  color: #ffa726;
}
#index .top .right .right-item a {
  box-sizing: border-box;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background: #e0e0e0;
  color: #fff;
}
#index .top .right .right-item a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 5px 0 -5px;
  vertical-align: middle;
  background: url(../img/no.png) center no-repeat;
}
#index .top .right .right-item a.canSubmit {
  cursor: pointer;
  background: #ffa726;
}
#index .top .right .right-item a.canSubmit:before {
  background: url(../img/done.png) center no-repeat;
}
#index .main {
  width: 1200px;
  margin: 15px auto 0;
  font-size: 14px;
}
#index .main .title {
  line-height: 35px;
  padding: 0 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #ffa726;
  color: #fff;
}
#index .main .title span {
  float: left;
  width: 9.090909090%;
  text-align: center;
}
#index .main .content .content-item {
  line-height: 44px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background: #fff;
}
#index .main .content .content-item:after {
  content: "";
  display: block;
  width: 98%;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
  height: 0;
  clear: both;
}
#index .main .content .content-item span {
  float: left;
  width: 9.090909090%;
  text-align: center;
  color: #616161;
}
#index .main .content .content-item .span11 {
  color: #ef5350;
}
#index .main .content .last-item {
  line-height: 44px;
  height: 44px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #fff;
}
#index #temple {
  display: none;
}
